body {
    background-color: lightblue;
}
.box {
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -140px;
    perspective: 6000px;
    background: ;
}
.iphone {
    width: 400px;
    height: 760px;
    margin-left: auto;
    margin-right: auto;
    transform: rotateX(54deg) rotateZ(-46deg);
    transform-style: preserve-3d;
    background: 	;
}
.side {
    width: 393px;
    height: 780px;
    border-radius: 77px 70px 86px 49px;
    background-color: #CDD0D5;
    box-shadow: inset #3D3E42 0 0 15px 9px ;
}
.front-frame {
    width: 362px;
    height: 750px;
    margin-left: 30px;
    border-radius: 49px;
    background-image: -webkit-linear-gradient(-27deg,#444,#000 10%, #000 42%, #333, #000 57%, #000 91%, #444);
    box-shadow: inset #000 0 0 0 4px, #555 0px 0 3px 0px, #222 -3px 2px, #000 -5px 5px, #E0E0E0 -7px 6px 1px, #6D6D6D -7px 6px 9px;
}
.front-cover {
    position: absolute;
    width: 344px;
    height: 734px;
    margin-top: 8px;
    margin-left: 9px;
    border-radius: 39px;
    background-color: #000;
}
.home-frame{
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: linear-gradient(32deg,#666,#000,#666);
    margin-top: 684px;
    margin-left: 160px;
}
.home {
    position: absolute;
    background: #000;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-left: 3px;
    margin-top: 3px;
}
.screen {
    position: absolute;
    width: 336px;
    height: 589px;
    margin-top: 80px;
    margin-left: 5px;
    background-image: linear-gradient(#A1E5E5,#1987AA);
}
.time {
    font-size: 86px;
    margin-left: 57px;
    margin-top: 37px;
    position: absolute;
}
.date {
    font-size: 20px;
    margin-left: 85px;
    margin-top: 130px;
    position: absolute;
}
